@charset "UTF-8";
/* Scss Document */
/* Scss Document */
/*▼色▼*/
/*▼幅▼*/
/*▼文字▼*/
/*▼WAKU系▼*/
/*▼FLEX系▼*/
/*▼グリッド系▼*/
#menu_blank {
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden; }

.menu_blank1 {
  position: fixed;
  background-color: white;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  border-left: 2px solid #b29851;
  padding: 0 0 0 2px;
  width: 100%;
  max-width: 500px; }
  .menu_blank1 > .box {
    border-left: 1px solid #b29851;
    padding-left: 0;
    width: 100%;
    position: absolute;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 5rem; }
  .menu_blank1 ul li {
    display: block;
    width: 100%;
    padding: 0;
    text-align: left !important; }
    .menu_blank1 ul li a::before {
      content: '';
      display: inline-block;
      height: 1em;
      width: 1em;
      background-image: url("../img/parts/ic_skk_cha.png");
      transition: 0.4s;
      background-size: auto 70%;
      vertical-align: top;
      background-position: left center;
      background-repeat: no-repeat; }
    .menu_blank1 ul li a:hover::before {
      background-image: url("../img/parts/ic_skk_wh.png"); }
  .menu_blank1 .menu_box03 {
    width: 100%;
    margin: 0;
    padding: 0; }
  .menu_blank1 .menu_box01, .menu_blank1 .menu_box02 {
    width: 100%;
    margin: 0 0 1rem 0;
    padding: 0; }
    .menu_blank1 .menu_box01 h2, .menu_blank1 .menu_box02 h2 {
      text-align: left;
      margin-left: 45px; }
      .menu_blank1 .menu_box01 h2::before, .menu_blank1 .menu_box02 h2::before {
        content: '';
        background-image: url("../img/parts/asterisk1.png");
        background-position: center;
        background-size: 70% 70%;
        vertical-align: -0.15em;
        background-repeat: no-repeat;
        display: inline-block;
        height: 1em;
        width: 1em;
        margin-right: 0.25em;
        font-weight: bold; }
    .menu_blank1 .menu_box01 ul li a, .menu_blank1 .menu_box02 ul li a {
      margin: 0 0 0.7rem 0;
      display: block;
      width: 100%;
      padding: 0.5em 0 0.5em 45px; }
  .menu_blank1 .menu_box02 {
    width: 100%;
    display: block; }
    .menu_blank1 .menu_box02 ul li a {
      margin: 0 !important; }

.blank_tit_game {
  font-family: "EB Garamond", serif;
  font-style: italic;
  color: #9c7cab;
  text-align: left;
  padding-left: 45px;
  font-size: 3.2rem;
  line-height: 1.35;
  margin: 3rem 0; }

.blank_tit_game a {
  text-decoration: none;
  color: #9c7cab; }

.blank_tit_game a:hover {
  text-decoration: none;
  color: #b29851; }

/*---------------------------------------------------------------------------BP1920*/
/*---------------------------------------------------------------------------BP1600*/
/*---------------------------------------------------------------------------BP1280*/
/*---------------------------------------------------------------------------BP1024*/
/*---------------------------------------------------------------------------BP960*/
/*---------------------------------------------------------------------------BP896*/
/*---------------------------------------------------------------------------BP768*/
@media (max-width: 768px) {
  .top_nav_main {
    margin-bottom: 100px; } }
/*---------------------------------------------------------------------------BP620*/
/*---------------------------------------------------------------------------BP480*/
